<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290948130753-n3t6mjeu896o8lnl8rmhmuelpavmc3jp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290948130753-n3t6mjeu896o8lnl8rmhmuelpavmc3jp</string>
	<key>API_KEY</key>
	<string>AIzaSyBRlqFNQaUO_YvtFhRowfXxeTJqwuImVhM</string>
	<key>GCM_SENDER_ID</key>
	<string>290948130753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>FFLF.Fantasy-Football-League-Finder</string>
	<key>PROJECT_ID</key>
	<string>fffinder-9f695</string>
	<key>STORAGE_BUCKET</key>
	<string>fffinder-9f695.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290948130753:ios:aceaae276dad815e</string>
	<key>DATABASE_URL</key>
	<string>https://fffinder-9f695.firebaseio.com</string>
</dict>
</plist>